  <hr/>		    <hr/>
     <footer>		     <footer>
-      <p style="text-align: center"><small>Made with ❤ by <a href="https://github.com/trhura">trh</a> at <a href="http://kagyi.io">kagyi</a>, powered by <a href="https://golang.org/">Golang</a> and <a href="https://appengine.google.com/">GAE</a>, code on <a href="https://github.com/trhura/chaparty">github.</a>. Proudly sponsored by <a href="http://www.arpalartech.com">ArpalarTech</a>, the most badass startup in Myanmar.</small></p>		+      <p style="text-align: center"><small>Made with ❤ by <a href="https://github.com/trhura">trh</a>, powered by <a href="https://golang.org/">Golang</a> and <a href="https://appengine.google.com/">GAE</a>, code on <a href="https://github.com/trhura/chaparty">github.</a>.<br/>Proudly sponsored by <a href="https://www.facebook.com/arpalartech">ArpalarTech</a>, the most badass startup in Myanmar.</small></p>
     </footer>		     </footer>
 		 
   </section>		   </section>

